<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=506&aspectRatio=2.00&format=jpeg"
      cardTitle="NOVO HOMEM DE FRERRO EM 3D"
      cardDescription="Marvel anuncia novo homem de ferro"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card>
      cardTitle="Nova serie anunciada"
      photoCover=""
    </app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
